@import "variables";
@import "partials/color";

main {
    padding: 0;
    section {
        .section_main_video {
            padding: 0;
            iframe {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.card {
    background-image: $color-grd-3;
}

.bg-black {
    background-color: map-get($colores, negro);
}

.bg-gradiente {
    background-image: $color-grd-4;
}

.bg-gradiente2 {
    background-image: $color-grd-1;
}

#body__tour main {
    article {
        div {
            background-color: map-get($colores, negro);
            div {
                button {
                    @extend .bg-gradiente;
                    text-decoration: none;
                    color: black;
                }
                .table {
                    tr:hover {
                        color: map-get($colores, azul);
                    }
                }   
            }
        }
    }
}

#body__contacto #main {
    @extend .bg-gradiente2;
    width: 100%;
    .form-control {
        width: 400px;
    }
}

.playlist, .playlist_mp3{
    width: 100%;
    height: 10vh;
}

.playlist_sound {
    width: 100%;
    height: 20vh;
    iframe {
        width: 100%;
    }
}

.video {
    height: 40vh;
    iframe {
        width: 50vw;
        height: 40vh;
    }
}

#body__404 {
    background-image: $color-grd-1;
    a {
        @extend .bg-gradiente;
    }
}
