$font-1: 'Roboto', sans-serif;
$color-grd-1: linear-gradient(90deg, rgba(143,0,164,1) 0%, rgba(102,74,172,1) 50%, rgba(0,137,164,1) 100%);
$color-grd-2: linear-gradient(to right, rgb(73, 73, 73) , #01A3D8);
$color-1: black;
$color-2: #01A3D8;
$color-3: #010001;
$border-contacto: 5px solid rgb(34, 34, 34);
$transition-1: transform 1s, color 0.5s;
$transform-1: rotate(360deg);
