$font-1: 'Roboto', sans-serif;
$color-grd-1: linear-gradient(90deg, #D1345B 0%, #3454D1 50%, #01A3D8 100%);
$color-grd-2: linear-gradient(to right, rgb(73, 73, 73) , #01A3D8);
$color-grd-3: linear-gradient(180deg, #070707 0%, #3454D1 50%, #01A3D8 100%);
$color-grd-4: linear-gradient(to right, #EFEFEF , #01A3D8);
$transition-1: transform 1s, color 0.5s;
$transform-1: rotate(360deg);
